<%- include("partials/header") %>

    <div class="body-content">
        <div class="content text-center">
            <h2 class="heading">Welcome to</h2>
            <h1 class="heading">HORIZON BANK</h1>
        </div>

        <h2 class="tagline">
            Faster and secure money transfer.
        </h2>
    </div>

<%- include("partials/footer") %>