@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("/images/transfer.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Roboto', serif;
}

/* Navbar Styling */
.navbar{
    width: 100%;
}

.bg-dark{
    background-color: #0b1757!important;
}

.navbar-brand{
    margin-right: 1rem;
    font-size: 1.6rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.7);
    font-size: 1.15rem;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: rgb(255, 255, 255)!important;
  }
  
.nav-item{
    margin: 0 1rem;
}

/* index.ejs Styling */

.body-content{
    width: 100%;
    height: 90%;
    background-color: rgba(199, 198, 221, 0.2);
    position: absolute;
}

.content{
    margin-top: 150px;
    color: rgb(0, 0, 0);
    text-shadow: 0px 0px 10px rgb(151, 149, 149);
}

.heading{
    text-align: center;
    font-family: 'Roboto', serif;
    font-size: 2.5rem;
}

.content h1{
    font-size: 3rem;
    font-weight: 500;
    color: rgb(5, 10, 63);
    text-shadow: 0px 0px 7px rgb(255, 255, 255);
}

.tagline{
    margin-top: 3rem;
    font-family: 'Kalam', cursive;
    text-align: center;
    color: rgb(8, 17, 104);
    text-shadow: 0px 0px 7px rgb(228, 222, 222);
}

/* Table Styling */
.table{
    padding: 1rem 20% 0 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

table {
    font-family: 'Roboto', sans-serif;
    border-collapse: collapse;
    width: 70%;
    background-color: rgba(255, 255, 255, 0.7);
  }

  .table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #02040F;
}
  
  td, th {
    border: 1px solid #02040F;
    text-align: left;
    padding: 8px;
  }


  /* error.ejs styling */
.error{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem auto 2rem auto;
    text-shadow: 0px 0px 7px rgb(197, 182, 182);
}

.error span{
    color: red;
    text-shadow: 0 0 0 black;
}

.error i{
    text-shadow: 0px 0px 2px rgb(192, 184, 184);
}

/* view.ejs styling */
.view-header{
    margin-top: 1rem;
    margin-left: 40%;
}


/* transfer.ejs styling */
.transfer-header{
    margin-top: 1rem;
    margin-left: 44%;
}


/* form.ejs styling */
.form-body{
    margin: 1.75rem auto 0 auto;
    width: fit-content;
    text-align: left;
    text-shadow: 0px 0px 7px rgb(197, 182, 182);
}


.form-body1{
    font-size: 1.5rem;
}

.form-body1 h1{
    color: #440381;
}

.form-body2{
    padding-top: 1rem;
    font-size: 1.5rem;
}

.form-body2 h1{
    color: #440381;
}

.form{
    margin-top: 3rem;
}

.form label{
    font-size: 1.75rem;
    font-weight: 500;
}

.form input{
    margin-top: 0.5rem;
    font-size: 1.5rem;
    resize: vertical;
    width: 325px;
}

.form-content{
    width: 100%;
    height: 90%;
    background-color: rgba(186, 203, 224, 0.3);
    position: absolute;
}

.submit-btn{
    display: flex;
    width: 325px;
    justify-content: center;
}

.submit-btn button{
    font-weight: 500;
    font-size: 1.5rem;
}


/* history.ejs styling*/
.history-header{
    margin-top: 1rem;
    margin-left: 35%;
}

.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position: fixed;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #242b8a;
}

.footer p {
	margin-top: 25px;
	font-size: 16px;
  color: #fff;
}